.tabela {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabela th {

    color: black;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    font-weight: bold;
    text-align: left;
  }
  
  .tabela td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    border: 5px;
  }